/* --- Styles.css --- */

/* Fond de l'application avec un gradient */
.root {
    -fx-background-color: linear-gradient(to bottom, #06315a, #d59636);
    -fx-padding: 20px;
}

/* Style du titre */
.title-label {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman", serif;
}

/* Style du conteneur principal (Carte blanche avec ombre) */
.vbox-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 23;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
}


/* Style pour les labels principaux */
.label-bold {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #06315a;
}

/* Style pour les labels de contenu */
.label-normal {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #555555;
}






