/* Définir la couleur de fond principale */
.root {
    -fx-background-color: white;
}

/* Style des labels */
.label {
    -fx-text-fill: #EEAA44; /* Jaune foncé */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Style des champs de texte */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #06315a;
    -fx-border-width: 1px;
    -fx-text-fill: #06315a;
    -fx-font-size: 14px;
    -fx-padding: 5px;

    /* Bordure arrondie */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

/* Style des DatePicker */
.date-picker {
    -fx-background-color: #06315a;
    -fx-border-color: #06315a;
    -fx-border-width: 1px;
    -fx-text-fill: #06315a;
    -fx-font-size: 14px;
    -fx-padding: 5px;

    /* Bordure arrondie */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

/* Style du bouton du calendrier */
.date-picker .arrow-button {
    -fx-background-color: #EEAA44; /* Jaune foncé */
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-padding: 10px;

    /* Taille du bouton */
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
}

/* Effet hover du bouton du calendrier */
.date-picker .arrow-button:hover {
    -fx-background-color: #06315a;
}

/* Style des boutons radio */
.radio-button {
    -fx-text-fill: #EEAA44;
}

/* Style des boutons */
.button {
    -fx-background-color: linear-gradient(to right, #F4C430, #FFA500);
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 12px 25px;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 0, 3);
    -fx-transition: all 0.3s ease-in-out;
}

/* Effet hover */
.button:hover {
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Effet lorsque le bouton est pressé */
.button:pressed {
    -fx-background-color: #06315a;
    -fx-text-fill: white;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}




/* Style des boutons Modifier et Supprimer */
#btnSave {
    -fx-background-color: linear-gradient(to right, #F4C430, #FF8700);
}

#btnSave:hover {
    -fx-background-color: #F4C430;
}

#btnIgnore {
    -fx-background-color: linear-gradient(to right, #5cb85c, #4cae4c); /* Vert clair */
}

#btnIgnore:hover {
    -fx-background-color: #4cae4c; /* Un vert légèrement plus foncé pour l'effet de survol */
}

/* Ajout d'un style pour le panneau principal */
.form-container {
    -fx-background-color: #06315a;
    -fx-border-color: #EEAA44;
    -fx-border-width: 3px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}





/* Style des ComboBox */
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #06315a;
    -fx-border-width: 1px;
    -fx-text-fill: #06315a;
    -fx-font-size: 14px;
    -fx-padding: 5px;

    /* Bordure arrondie */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

/* Style de la flèche du ComboBox */
.combo-box .arrow-button {
    -fx-background-color: #EEAA44; /* Jaune foncé */
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-padding: 5px; /* Réduire l'espacement pour une flèche plus petite */
    -fx-min-width: 30px; /* Ajuster la taille minimale */
    -fx-min-height: 15px; /* Ajuster la hauteur */
    -fx-max-width: 30px; /* Ajuster la taille maximale */
    -fx-max-height: 20px; /* Ajuster la hauteur maximale */
}


/* Effet hover de la flèche du ComboBox */
.combo-box .arrow-button:hover {
    -fx-background-color: #06315a;
}




/* Style de la liste déroulante (popup) */
.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: #06315a;
    -fx-font-size: 14px;
}

/* Effet de survol sur les éléments de la liste déroulante */
.combo-box .list-cell:hover {
    -fx-background-color: #EEAA44; /* Jaune foncé */
    -fx-text-fill: white;
}

/* Style de l'élément sélectionné */
.combo-box .list-cell:focused {
    -fx-background-color: white;
    -fx-text-fill: #06315a;
}

